@model ErrorWarningViewModel

@section top_bar {
    <input class="top-bar__input" id="top-bar__input" type="text" placeholder="" disabled>
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="navigation__button">
        <i class="icon-home navigation__button-icon"></i>
        <div class="navigation__button-text">Dashboard</div>
    </a>
    <a asp-controller="User" asp-action="Create" class="navigation__button">
        <i class="icon-user-plus navigation__button-icon"></i>
        <div class="navigation__button-text">New Assignment</div>
    </a>
}

@section content {
    <div class="content-error">
        <div class="content-error__title content-error__title--yellow">@(Model.StatusCode + " Error")</div>
        <div class="content-error__message select--on">@Model.Message</div>
        <a asp-controller="Home" asp-action="Dashboard" class="content-error__button">Return to Dashboard</a>
    </div>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/error.css">
}

@section javascript {
    <script src="~/js/jquery.js"></script>
    <script src="~/js/accordion.js"></script>
}
