@model ErrorWarningViewModel

@section top_bar {
    <input class="top-bar__field" id="top-bar__field" type="text" placeholder="" disabled>
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="button">
        <i class="button__icon icon-home"></i>
        <div class="button__text">Dashboard</div>
    </a>
    <a asp-controller="User" asp-action="Create" class="button">
        <i class="button__icon icon-user-plus"></i>
        <div class="button__text">New User</div>
    </a>
}

@section content {
    <div class="content-error">
        <div class="content-error__title content-error__title--yellow">@(Model.StatusCode + " Error")</div>
        <div class="content-error__message select--on">@Model.Message</div>
        <a asp-controller="Home" asp-action="Dashboard" class="btn">Return to Dashboard</a>
    </div>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/error.css">
}