@model UserCreateViewModel

@section top_bar {
    <input class="top-bar__input" id="top-bar__input" type="text" onkeyup="" placeholder="Search Assets by Name">
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="navigation__button navigation__button--selected">
        <i class="icon-home navigation__button-icon"></i>
        <div class="navigation__button-text">Dashboard</div>
    </a>
    <a class="navigation__button" href="#">
        <i class="icon-book navigation__button-icon"></i>
        <div class="navigation__button-text">History</div>
    </a>
    <div class="navigation__button accordion">
        <i class="icon-cog navigation__button-icon"></i>
        <div class="navigation__button-text">Admin</div>
        <i class="navigation__button-dropdown-icon"></i>
    </div>
    <div class="navigation__submenu">
        <a class="navigation__button" href="#">
            <i class="icon-right-dir navigation__button-icon"></i>
            <div class="navigation__button-text">Settings</div>
        </a>
        <a class="navigation__button" href="#">
            <i class="icon-right-dir navigation__button-icon"></i>
            <div class="navigation__button-text">Create Tool</div>
        </a>
    </div>
}

@section content {
    <form class="user" id="user">
        <div class="user-details">
            <div class="user-details__card">
                <div class="user-details__header ">User Details</div>
                <div class="user-details__row">
                    <div class="user-details__name">Name (required)</div>
                    <input class="user-details__input user-details__input--error" id="user-details__input-name" type="text" placeholder="">
                    <label class="user-details__error">You must provide a Name for this User</label>
                </div>
                <div class="user-details__row">
                    <div class="user-details__name">Email</div>
                    <input class="user-details__input" id="user-details__input-email" type="text" placeholder="">
                    <label class="user-details__error">Invalid email address.</label>
                </div>
                <div class="user-details__row">
                    <div class="user-details__name">Phone</div>
                    <input class="user-details__input" id="user-details__input-phone" type="text" placeholder="">
                </div>
                <div class="user-details__row">
                    <div class="user-details__name">Absentee</div>
                    <input class="user-details__input" id="user-details__input-absentee" type="text" placeholder="">
                </div>
                <div class="user-details__row">
                    <div class="user-details__name">Role (required)</div>
                    <select class="user-details__select">
                        <option value="CRT">CRT</option>
                        <option value="CRT">Cleaner</option>
                        <option value="CRT">Contractor</option>
                    </select>
                    <label class="user-details__error">You must select a Role for this User.</label>
                </div>
            </div>
            <div class="user-details__card">
                <div class="user-details__row">
                    <div class="user-details__name">Comments</div>
                    <textarea name="user-details__input-comment" form="user" class="user-details__comment" id="user-details__input-comment"></textarea>
                </div>
            </div>
        </div>
        <div class="user-groups">
            <div class="user-groups__card">

            </div>
        </div>
        <div class="user-assets">
            <div class="user-assets__card">

            </div>
        </div>
    </form>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/user.css">
    <link rel="stylesheet" href="~/css/user_details.css">
    <link rel="stylesheet" href="~/css/user_groups.css">
}

@section javascript {
    <script src="~/js/accordion.js"></script>
}