$side-bar--width: 256px;
$top-bar--height: 60px;
$content-spacing: 21px;
$colour-foreground: #27293d;
$colour-background: #1e1e2f;
$colour-border: #313452;
$colour-font: #868a95;
$colour-blue: #4d83ff;
$colour-green: #23af47;
$colour-red: #ff4747;
$colour-yellow: #fbbc06;
$colour-purple: #7859df;
