$side-bar--width: 256px;
$top-bar--height: 60px;
$content-spacing: 21px;

$colour-map: (
    --red: #ff4747,
    --yellow: #fbbc06,
    --green: #23af47,
    --blue: #4d83ff,
    --overdue: #ff4747,
    --due: #fbbc06,
    --active: #23af47,
    --foreground: #27293d,
    --background: #1e1e2f,
    --border: #313452,
    --font: #868a95
);