$side-bar--width: 16rem;
$top-bar--height: 3.75rem;
$content-spacing: 1.3125rem;

$colour-map: (
    --red: #ff4747,
    --yellow: #fbbc06,
    --green: #23af47,
    --blue: #4d83ff,
    --overdue: #ff4747,
    --due: #fbbc06,
    --active: #23af47,
    --indefinite: #4b83ff,
    --foreground: #27293d,
    --background: #1e1e2f,
    --border: #313452,
    --font: #868a95
);