@import "_variables.scss";

.content {
    &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: $content-spacing;

        &__group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: lighten(map-get($colour-map, --font), 20%);
        }

        &__organisation {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 5px;
            font-variant-caps: small-caps;
        }

        &__index {
            display: flex;
            font-size: 0.825rem;
            align-items: center;
        }

        &__icon {
            font-size: 1rem;
        }

        &__controller {
            margin-right: 0.2rem;
        }

        &__page {
            color: map-get($colour-map, --blue);
            //margin-left: 3px;
        }
    }
}
