@import "_variables.scss";
@import "overview.scss";
@import "data.scss";

.dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > div:not(:last-child) {
        margin-bottom: $content-spacing;
    }

    &-header {
        &__button {
            display: flex;
            background-color: darken(map-get($colour-map, --blue), 5%);
            font-size: 0.875rem;
            color: white;
            padding: 0.625rem 1rem;
            text-decoration: none;
            cursor: pointer;
            border-radius: 0.25rem;

            &:hover {
                background-color: map-get($colour-map, --blue);
            }
        }
        &__button-text {
            margin-left: 0.25rem;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
