@import "_variables.scss";

.dashboard {
    > div:not(:last-child) {
        margin-bottom: $dashboard-spacing;
    }

    &-header {
        &__button {
            display: flex;
            background-color: $colour-blue;
            font-size: 0.875rem;
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            cursor: pointer;
            border-radius: 4px;
        }

        &__button-text {
            margin-left: 5px;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    &--due {
        color: $colour-yellow;
    }

    &--overdue {
        color: $colour-red;
    }
}
