@import "_variables.scss";

.dropdown {
    box-sizing: border-box;
    width: 100%;
    background-color: map-get($colour-map, --foreground);
    border: 1px solid map-get($colour-map, --border);
    border-radius: 0.25rem;
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        background-color: lighten(map-get($colour-map, --foreground), 2%);
        color: white;
        cursor: pointer;
    }

    &__wrapper {
        visibility: hidden;
        width: 24%; //change this TODO
        position: relative;
        color: map-get($colour-map, --font);
        //font-variant: small-caps;
        &--larger {
            width: 33%;
        }

        &:after {
            font-family: "locus-font";
            position: absolute;
            top: 0.625rem;
            right: 0.5rem;
            content: '\e855';
            cursor: pointer;
        }

        &.is-open:after {
            content: '\e856';
        }
    }

    &__content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: map-get($colour-map, --background);
        border: 1px solid map-get($colour-map, --border);
        border-top: 0px;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        position: absolute;
        left: 0px;
        z-index: 1;
        box-shadow: 0.5rem 0.5rem 0.5rem 1px rgba(0, 0, 0, .2);
    }

    &__scroll-group {
        max-height: 19rem;
        overflow-y: auto;
    }

    &__search {
        margin: 0.25rem;
        padding: 0.375rem;
        background-color: map-get($colour-map, --background);
        border: 1px solid map-get($colour-map, --border);
        color: map-get($colour-map, --font);
        font-size: 0.8rem;
    }

    &__option {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-value {
            font-size: 0.8rem;
            color: darken(map-get($colour-map, --font), 15%);
        }

        &.is-active {
            background-color: lighten(map-get($colour-map, --background), 2%);
            color: white;
        }

        &:hover {
            background-color: lighten(map-get($colour-map, --background), 4%);
            color: white;
            cursor: pointer;
        }
    }
}
