@import "_variables.scss";

.content-error {
    display: flex;
    flex-direction: column;
    align-self:center;
    align-items: center;

    &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: $content-spacing;

        &--red {
            color: map-get($colour-map, --red);
        }

        &--yellow {
            color: map-get($colour-map, --yellow);
        }
    }

    &__message {
        color: map-get($colour-map, --font);
        margin-bottom: 1rem;
    }
}