@import "_variables.scss";

.content-error {
    text-align: center;

    &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: $content-spacing;

        &--red {
            color: map-get($colour-map, --red);
        }

        &--yellow {
            color: map-get($colour-map, --yellow);
        }
    }

    &__message {
        color: map-get($colour-map, --font);
    }
}
