@import "_variables.scss";

.navigation {
    flex-grow: 1;
    border-right: 1px solid map-get($colour-map, --border);
    background-color: map-get($colour-map, --foreground);

    &__button {
        display: flex;
        align-items: center;
        padding: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-decoration: none;
        color: map-get($colour-map, --font);
        border-bottom: 1px solid map-get($colour-map, --border);
        font-size: 0.875rem;

        &.accordion > &-dropdown-icon::after {
            content: '\e859';
            font-family: "locus-font";
            font-style: normal;
        }

        &.accordion.is-open > &-dropdown-icon::after {
            content: '\e85c';
        }

        &-icon {
            font-size: 1.25rem;
            margin-right: 0.5rem;
        }

        &-text {
            flex-grow: 1;
        }

        &:hover, &.is-open {
            background-color: lighten(map-get($colour-map, --foreground), 2%);
            color: #fff;
            transition: background-color 0.1s linear;
            transition: color 0.1s linear;
            cursor: pointer;
        }

        &--blue {
            color: map-get($colour-map, --blue);
        }
    }

    &__submenu {
        display: none;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;

        > .navigation__button {
            padding-left: 2rem;
        }
    }
}
