@import "_variables.scss";

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
}

#body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-grow: 1;
    align-content: stretch;
    white-space: nowrap;
    text-align: left;
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $top-bar--height;
    z-index: 1;
}

#side-bar {
    position: fixed;
    top: $top-bar--height;
    left: 0;
    bottom: 0;
    width: $side-bar--width;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#content {
    margin-top: $top-bar--height;
    display: flex;
    flex-direction: column;
    padding: $content-spacing;
    background-color: map-get($colour-map, --background);
    box-sizing: border-box;
    //flex-grow: 1;
    width: 100%;
    min-height: calc(100vh - #{$top-bar--height});
    margin-left: $side-bar--width;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
