@import "_variables.scss";

.report {
    display: flex;
    justify-content: center;

    &-content {
        flex: 0 0 50%;
        box-sizing: border-box;
        font-size: 0.785rem;
        color: map-get($colour-map, --font);
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        &__name {
            font-size: 1rem;
        }

        &__right {
            display: flex;
            align-items: center;
        }

        &__date, &__message {
            font-size: 0.785rem;
        }

        &__icon {
            font-size: 1.5rem;

            &--blue {
                color: map-get($colour-map, --blue);
            }

            &--yellow {
                color: map-get($colour-map, --yellow);
            }
        }
    }

    &-collection {
        &__title {
            font-size: 1rem;
            padding: 0.625rem;
            border: 1px solid map-get($colour-map, --border);
            background-color: map-get($colour-map, --foreground);
        }

        &:last-child {
            border-bottom: 1px solid map-get($colour-map, --border);
        }
    }

    &-item {
        display: flex;
        align-items: center;
        padding: 0.5rem;

        &:nth-child(odd) {
            background-color: lighten(map-get($colour-map, --background), 1%);
        }

        &:not(:last-child):not(&--error) {
            border-bottom: 1px solid map-get($colour-map, --border);
        }

        &--error {
            border: 1px dashed map-get($colour-map, --red);
            background-color: mix(map-get($colour-map, --red), map-get($colour-map, --background), 5%);
        }

        &__status {
            font-size: 1rem;
            //red, yellow, green
            @for $i from 1 through 4 {
                $c: nth($colour-map, $i);

                &#{nth($c, 1)} {
                    color: nth($c, 2);
                }
            }
        }

        &__model {
            flex-grow: 1;
            margin-left: 0.5rem;
            margin-right: 4rem;
            font-variant: small-caps;

            &-icon {
                margin-left: 0.5rem;
                font-size: 1.75rem;
            }

            &-tag {
                font-size: 0.875rem;
            }

            &-name {
                color: darken(map-get($colour-map, --font), 10%);
            }
        }

        &__info {
            text-align: center;
            margin-left: 2rem;

            &-title {
                text-align: left;
                color: darken(map-get($colour-map, --font), 10%);
            }

            &-value {
                font-size: 0.875rem;
            }

            &--error {
                font-variant: small-caps;
            }
        }
    }
}
