@import "_variables.scss";

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    &__row {
        text-align: left;
        border-bottom: 1px solid $colour-border;

        > td, th {
            padding: 10px 0;
        }

        &:not(:first-child):hover {
            background-color: lighten($colour-background, 2%);
            transition: background-color 0.1s linear;
        }

        &:not(:first-child):hover .table__action-button {
            opacity: 1;
            transition: opacity 0.1s linear;
        }
    }

    &__asset-icon {
        font-size: 1.4rem;
        text-decoration: none;

        &--due {
            color: $colour-yellow;
        }

        &--overdue {
            color: $colour-red;
        }
    }

    &__model-icon {
        font-size: 1.4rem;
        margin-right: 8px;
    }

    &__status {
        display: inline-block;
        padding: 6px 9px;
        border-radius: 4px;

        &--active {
            border: 1px solid $colour-green;
            color: $colour-green;
        }

        &--due {
            border: 1px solid $colour-yellow;
            color: $colour-yellow;
        }

        &--overdue {
            border: 1px solid $colour-red;
            color: $colour-red;
        }
    }

    &__action {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        &-button {
            text-decoration: none;
            margin-right: 10px;
            padding: 6px 18px;
            color: $colour-font;
            border: 1px solid darken($colour-font, 20%);
            border-radius: 4px;
            opacity: 0.3;
            white-space: nowrap;

            &--edit:hover {
                color: $colour-blue;
                border-color: $colour-blue;
            }

            &--return:hover {
                color: $colour-red;
                border-color: $colour-red;
            }

            &--assign:hover {
                color: $colour-blue;
                border-color: $colour-blue;
            }

            &--extend:hover {
                color: $colour-yellow;
                border-color: $colour-yellow;
            }
        }
    }
}
