@import "_variables.scss";

.top-bar {
    background-color: map-get($colour-map, --foreground);
    border-bottom: 1px solid map-get($colour-map, --border);
    height: 100%;
    display: flex;

    &__logo {
        display: flex;
        align-items: center;
        width: $side-bar--width;
        border-right: 1px solid map-get($colour-map, --border);
        box-sizing: border-box;
        padding: 1rem;

        &-icon {
            color: white;
            font-size: 2rem;
            margin-right: 0.625rem;
        }

        &-title {
            color: white;
            overflow: hidden;
            white-space: nowrap;
            font-size: 1.25rem;
        }
    }

    &__input-wrapper {
        display: flex;
        background-color: map-get($colour-map, --background);
        margin: 0.75rem;
        align-items: center;
        border-radius: 0.25rem;
        flex-grow: 1;
    }

    &__input {
        flex-grow: 1;
        height: 100%;
        color: darken(map-get($colour-map, --font), 10%);
        border: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none;


        &::placeholder {
            opacity: 1;
        }

        &-icon {
            margin-left: 0.625rem;
            margin-right: 0.625rem;
            color: darken(map-get($colour-map, --font), 10%);
        }
    }

    &__account-wrapper {
        //placeholder
        flex-grow: 0.5;
    }
}
