@import "_variables.scss";

.user {
    &-groups {
        display: flex;
        &__card {
            display: flex;
            flex: 1 0 0;
            overflow: hidden;
            background-color: $colour-foreground;
            border: 1px solid $colour-border;
            color: $colour-font;
            padding: 24px 32px;
        }
    }
}
