.content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px; }
    .content-header__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #bcbfc5; }
    .content-header__organisation {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 5px; }
    .content-header__index {
        display: flex;
        font-size: 0.825rem; }
    .content-header__controller {
        margin-right: 0.2rem; }
    .content-header__action {
        color: #4d83ff;
        margin-left: 3px; }
