.dashboard {
    flex-grow: 1;
    box-sizing: border-box;
    background-color: #1e1e2f;
    padding: 21px;
}

    .dashboard > div:not(:last-child) {
        margin-bottom: 21px;
    }

.dashboard-header__button {
    display: flex;
    background-color: #4d83ff;
    font-size: 0.875rem;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

.dashboard-header__button-text {
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.dashboard--due {
    color: #fbbc06;
}

.dashboard--overdue {
    color: #ff4747;
}
