.dashboard-header {
    display: flex;
    justify-content: space-between;
}

.dashboard-header__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #bcbfc5;
}

.dashboard-header__organisation {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.dashboard-header__index {
    display: flex;
    font-size: 0.825rem;
}

.dashboard-header__index--end {
    color: #4d83ff;
}

.dashboard-header__button {
    display: flex;
    background-color: #4d83ff;
    font-size: 0.875rem;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

.dashboard-header__button-text {
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
}
