.data {
    visibility: hidden; }
    .data-table {
        min-width: 100%;
        margin: 0 auto;
        clear: both;
        border-collapse: separate;
        border-spacing: 0;
        border-bottom: 1px solid #313452; }
        .data-table__length {
            display: none; }
        .data-table__wrapper {
            font-size: 0.8rem;
            color: #868a95;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            box-sizing: border-box; }
        .data-table__status {
            display: inline-block;
            padding: 0.1875rem 0.5625rem;
            min-width: 3.5rem;
            font-variant: small-caps;
            text-align: center;
            border-radius: 0.25rem; }
            .data-table__status--overdue {
                color: #ff4747;
                border: 1px solid #ff4747; }
            .data-table__status--due {
                color: #fbbc06;
                border: 1px solid #fbbc06; }
            .data-table__status--active {
                color: #23af47;
                border: 1px solid #23af47; }
            .data-table__status--indefinite {
                color: #4b83ff;
                border: 1px solid #4b83ff; }
        .data-table__icon {
            font-size: 1.2rem; }
            .data-table__icon--overdue {
                color: #ff4747; }
            .data-table__icon--due {
                color: #fbbc06; }
            .data-table__icon--indefinite {
                color: #4b83ff; }
        .data-table__action {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between; }
            .data-table__action-button {
                flex: 1 0 0;
                padding: 0.4375rem 0.5625rem;
                text-decoration: none;
                text-align: center;
                font-variant: small-caps;
                border: 1px solid transparent;
                color: #6c707c;
                border-left: 1px solid #313452;
                background-color: transparent; }
                .data-table__action-button:hover {
                    cursor: pointer; }
                .data-table__action-button--yellow:hover {
                    color: #fbbc06;
                    border: 1px solid #fbbc06; }
                .data-table__action-button--green:hover {
                    color: #23af47;
                    border: 1px solid #23af47; }
                .data-table__action-button--blue:hover {
                    color: #4d83ff;
                    border: 1px solid #4d83ff; }
        .data-table__paginate {
            float: right;
            text-align: right;
            padding-top: 0.25em; }
            .data-table__paginate .paginate-button {
                box-sizing: border-box;
                display: inline-block;
                min-width: 1.5em;
                padding: 0.5em 1em;
                margin-left: 0.125rem;
                text-align: center;
                text-decoration: none !important;
                cursor: pointer;
                *cursor: hand;
                border: 1px solid transparent;
                border-radius: 0.25rem; }
                .data-table__paginate .paginate-button:not(.disabled):not(.current):hover {
                    border: 1px solid #313452; }
                .data-table__paginate .paginate-button.current {
                    color: white;
                    background-color: #3471ff;
                    border: 1px solid #313452; }
                    .data-table__paginate .paginate-button.current:hover {
                        background-color: #4d83ff; }
                .data-table__paginate .paginate-button.disabled {
                    color: #3d3f45; }
        .data-table__info {
            clear: both;
            float: left;
            padding-top: 0.755em; }
        .data-table thead tr th {
            position: relative;
            padding: 0.625rem;
            border-bottom: 1px solid #313452; }
            .data-table thead tr th:not(.sorting_disabled) {
                cursor: pointer; }
            .data-table thead tr th.sorting-asc:after, .data-table thead tr th.sorting-desc:after, .data-table thead tr th.sorting:after {
                font-family: "locus-font";
                font-style: normal;
                position: absolute;
                top: 0.75rem;
                right: 0.5rem;
                display: block;
                color: #4d83ff; }
            .data-table thead tr th.sorting:after {
                content: '\f0dc';
                color: #3d3f45; }
            .data-table thead tr th.sorting-asc:after {
                content: '\e856'; }
            .data-table thead tr th.sorting-desc:after {
                content: '\e855'; }
        .data-table tbody tr {
            transition: background-color 0.1s linear; }
            .data-table tbody tr.even:hover, .data-table tbody tr.odd:hover {
                background-color: #26263b; }
            .data-table tbody tr.even {
                background-color: #222235; }
            .data-table tbody tr td {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 10rem; }
                .data-table tbody tr td:not(:last-child) {
                    padding: 0.5rem 0.625rem; }
                .data-table tbody tr td.data-table__empty {
                    text-align: center; }

.dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .dashboard > div:not(:last-child) {
        margin-bottom: 1.3125rem; }

.overview {
    display: flex;
    z-index: 2; }
    .overview > div:not(:last-of-type) {
        margin-right: 1.3125rem; }
    .overview *:not(.card) {
        pointer-events: none; }
    .overview .card {
        display: flex;
        flex: 1 0 0;
        padding: 1.5rem 2rem;
        justify-content: space-between;
        align-items: center;
        color: #868a95;
        background-color: #27293d;
        border: 1px solid #313452; }
        .overview .card__quantity {
            font-size: 2.5rem;
            font-weight: 600; }
        .overview .card__subject {
            font-weight: 700; }
        .overview .card__verb {
            font-size: 0.875rem;
            font-weight: 400; }
        .overview .card__icon {
            font-size: 2.5rem;
            color: #4d83ff; }
        .overview .card.is-active {
            border-color: #4d83ff; }
        .overview .card.is-active .overview .card__body {
            color: #caccd1; }
        .overview .card:hover {
            cursor: pointer;
            background-color: #2b2d43;
            transition: background-color 0.1s linear; }
        .overview .card:hover .overview .card__body {
            color: #caccd1; }
