.group {
    display: flex;
    flex-direction: column;
    flex: 1 0 0; }
    .group__header {
        display: flex;
        align-items: center;
        color: #868a95;
        padding: 10px;
        border: 1px solid #313452;
        background-color: #27293d; }
        .group__header:not(:first-child) {
            margin-top: 10px; }
        .group__header.accordion > .group__header-icon::after {
            content: '\e82b';
            font-family: "locus-font";
            font-style: normal; }
        .group__header.accordion.is-open > .group__header-icon::after {
            content: '\e82d'; }
        .group__header-name {
            margin-left: 8px;
            flex-grow: 1; }
        .group__header-number {
            font-size: 0.875rem; }
        .group__header:hover {
            background-color: #2b2d43;
            transition: background-color 0.1s linear;
            cursor: pointer; }
    .group__body {
        padding-left: 16px;
        font-size: 0.8rem;
        color: #868a95;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out; }
