@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf); }

#body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin: 0;
    display: flex;
    flex-grow: 1;
    align-content: stretch;
    white-space: nowrap;
    text-align: left; }

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.75rem;
    z-index: 1; }

#side-bar {
    position: fixed;
    top: 3.75rem;
    left: 0;
    bottom: 0;
    width: 16rem;
    display: flex;
    flex-direction: column;
    z-index: 1; }

#content {
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    padding: 1.3125rem;
    background-color: #1e1e2f;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 3.75rem);
    margin-left: 16rem; }

.select--off {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.select--on {
    -webkit-touch-callout: initial;
    -webkit-user-select: auto;
    -moz-user-select: text;
    -ms-user-select: initial;
    user-select: text; }
