@page {
    size: auto;
    margin: 0mm; }

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf); }

.print {
    visibility: visible;
    font-family: Roboto, sans-serif;
    font-weight: 400; }
    .print hr {
        border: 1px dashed black; }
    .print .print__blank {
        margin-top: 10mm;
        padding: 20px;
        border: 1px dashed #f4f4; }
    .print .print__header {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        justify-content: center;
        font-variant: small-caps; }
    .print .print__logo {
        margin-right: 0.5rem; }
    .print .print__title {
        font-size: 2.5rem; }
    .print .print__sub-title {
        font-size: 1rem; }
    .print .print__bold {
        font-weight: 700; }
        .print .print__bold span {
            font-weight: 400; }
    .print .print__name {
        font-size: 1.75rem; }
    .print .print__date {
        font-size: 0.875rem; }
    .print .print__asset {
        display: flex;
        align-items: center; }
    .print .print__icon {
        font-size: 2rem;
        margin-right: 1rem; }
    .print .print__model {
        font-variant: small-caps;
        font-size: 1.75rem; }
