.report {
    display: flex;
    justify-content: center; }
    .report-content {
        flex: 0 0 50%;
        box-sizing: border-box;
        font-size: 0.785rem;
        color: #868a95; }
    .report-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem; }
        .report-header__name {
            font-size: 1rem; }
        .report-header__right {
            display: flex;
            align-items: center; }
        .report-header__date, .report-header__message {
            font-size: 0.785rem; }
        .report-header__icon {
            font-size: 1.5rem; }
            .report-header__icon--blue {
                color: #4d83ff; }
            .report-header__icon--yellow {
                color: #fbbc06; }
    .report-collection__title {
        font-size: 1rem;
        padding: 0.625rem;
        border: 1px solid #313452;
        background-color: #27293d; }
    .report-collection:last-child {
        border-bottom: 1px solid #313452; }
    .report-item {
        display: flex;
        align-items: center;
        padding: 0.5rem; }
        .report-item:nth-child(odd) {
            background-color: #202032; }
        .report-item:not(:last-child):not(.report-item--error) {
            border-bottom: 1px solid #313452; }
        .report-item--error {
            border: 1px dashed #ff4747;
            background-color: #292030; }
        .report-item__status {
            font-size: 1rem; }
            .report-item__status--red {
                color: #ff4747; }
            .report-item__status--yellow {
                color: #fbbc06; }
            .report-item__status--green {
                color: #23af47; }
            .report-item__status--blue {
                color: #4d83ff; }
        .report-item__model {
            flex-grow: 1;
            margin-left: 0.5rem;
            margin-right: 4rem;
            font-variant: small-caps; }
            .report-item__model-icon {
                margin-left: 0.5rem;
                font-size: 1.75rem; }
            .report-item__model-tag {
                font-size: 0.875rem; }
            .report-item__model-name {
                color: #6c707c; }
        .report-item__info {
            text-align: center;
            margin-left: 2rem; }
            .report-item__info-title {
                text-align: left;
                color: #6c707c; }
            .report-item__info-value {
                font-size: 0.875rem; }
            .report-item__info--error {
                font-variant: small-caps; }
