.top-bar {
    background-color: #27293d;
    border-bottom: 1px solid #313452;
    height: 100%;
    display: flex; }
    .top-bar__logo {
        display: flex;
        align-items: center;
        width: 16rem;
        border-right: 1px solid #313452;
        box-sizing: border-box;
        padding: 1rem; }
        .top-bar__logo-icon {
            color: white;
            font-size: 2rem;
            margin-right: 0.625rem; }
        .top-bar__logo-title {
            color: white;
            overflow: hidden;
            white-space: nowrap;
            font-size: 1.25rem; }
    .top-bar__input-wrapper {
        display: flex;
        background-color: #1e1e2f;
        margin: 0.75rem;
        align-items: center;
        border-radius: 0.25rem;
        flex-grow: 1; }
    .top-bar__input {
        flex-grow: 1;
        height: 100%;
        color: #6c707c;
        border: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none; }
        .top-bar__input::placeholder {
            opacity: 1; }
        .top-bar__input-icon {
            margin-left: 0.625rem;
            margin-right: 0.625rem;
            color: #6c707c; }
    .top-bar__account-wrapper {
        flex-grow: 0.5; }
