.user-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .user-details > div:not(:last-child) {
        margin-right: 21px; }
    .user-details__card {
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: #27293d;
        border: 1px solid #313452;
        color: #868a95;
        padding: 24px 32px; }
    .user-details__header {
        font-size: 1.25rem;
        font-weight: 700;
        color: #bcbfc5;
        margin-bottom: 20px; }
    .user-details__row {
        display: flex;
        flex-direction: column; }
        .user-details__row:not(:last-child) {
            margin-bottom: 24px; }
    .user-details__name {
        margin-bottom: 8px;
        font-size: 0.875rem; }
    .user-details__input {
        border: 1px solid #313452;
        color: #868a95;
        background-color: #1e1e2f;
        padding: 14px 22px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none; }
        .user-details__input--error {
            border-color: #ff4747; }
    .user-details__error {
        color: #ff4747;
        font-size: 0.875rem;
        padding-top: 8px; }
    .user-details__select {
        border: 1px solid #313452;
        color: #868a95;
        background-color: #1e1e2f;
        padding: 14px 22px; }
    .user-details__comment {
        background-color: #1e1e2f;
        border: 1px solid #313452;
        color: #868a95;
        resize: vertical;
        max-height: 400px;
        padding: 10px;
        min-height: 100px;
        font-family: Roboto;
        font-size: 0.875rem; }
