.user .assets {
    display: flex;
    flex-direction: column;
    flex: 2 0 0; }
    .user .assets > div:not(:last-child) {
        margin-bottom: 1.3125rem; }
    .user .assets__header {
        display: flex;
        justify-content: space-between;
        margin-left: 0.3125rem; }
        .user .assets__header-label {
            font-size: 0.875rem;
            color: #868a95;
            margin-top: auto;
            cursor: pointer; }
            .user .assets__header-label:hover {
                color: #bcbfc5; }
            .user .assets__header-label:hover > label:after {
                background-color: #26263b;
                border-color: #444872; }
        .user .assets__header-check {
            position: relative;
            display: none; }
            .user .assets__header-check + label {
                margin-right: 2.125rem;
                position: relative; }
                .user .assets__header-check + label:after {
                    position: absolute;
                    font-family: "locus-font";
                    content: "";
                    width: 1rem;
                    height: 1rem;
                    left: 0.625rem;
                    top: 0;
                    border: 1px solid #313452;
                    cursor: pointer; }
            .user .assets__header-check:checked + label:after {
                content: '\e825'; }
    .user .assets__body {
        visibility: hidden;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        flex: 1 0 0;
        font-size: 0.785rem;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #27293d #1e1e2f;
        border: 1px dashed #444872;
        padding: 1.3125rem 1rem;
        border-radius: 0.6rem;
        background-color: #1d1d2d; }
        .user .assets__body:after {
            content: "";
            flex: 1 0 50%; }
        .user .assets__body::-webkit-scrollbar {
            background-color: #1e1e2f;
            width: 0.375rem; }
            .user .assets__body::-webkit-scrollbar-thumb {
                background-color: #27293d; }
                .user .assets__body::-webkit-scrollbar-thumb:hover {
                    background-color: #373a56; }
    .user .assets .period-menu {
        text-align: center;
        display: none;
        z-index: 1000;
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        padding: 0;
        background-color: #1e1e2f;
        border: 1px solid #313452;
        color: #868a95;
        box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.2); }
        .user .assets .period-menu.is-visable + .card__wrapper .card {
            border: 1px solid #868a95;
            padding: 0.625rem 0.875rem; }
        .user .assets .period-menu li {
            padding: 8px 12px;
            list-style-type: none;
            user-select: none;
            border-bottom: 1px solid #313452; }
            .user .assets .period-menu li.is-selected {
                background-color: #222235;
                color: white; }
            .user .assets .period-menu li:hover {
                cursor: pointer;
                background-color: #26263b; }
    .user .assets .card {
        position: relative;
        display: flex;
        padding: 0.625rem 0.875rem;
        align-items: center;
        color: #868a95;
        background-color: #27293d;
        border: 1px solid #313452;
        margin: 0 0.3125rem 0.625rem;
        border-radius: 0.25rem;
        cursor: pointer; }
        .user .assets .card__wrapper {
            flex: 1 0 50%; }
            .user .assets .card__wrapper.is-empty {
                opacity: 0.4; }
            .user .assets .card__wrapper.is-assigned .card {
                border: 1px solid #4c4f79; }
            .user .assets .card__wrapper input {
                display: none; }
                .user .assets .card__wrapper input.is-return:checked ~ .card {
                    border: 2px solid #ff4747;
                    padding: 0.5625rem 0.8125rem; }
                    .user .assets .card__wrapper input.is-return:checked ~ .card:before {
                        border-top: 1.5625rem solid #ff4747; }
                    .user .assets .card__wrapper input.is-return:checked ~ .card:after {
                        content: '\e816';
                        margin-top: -0.125rem; }
                .user .assets .card__wrapper input.is-extend:checked ~ .card {
                    border: 2px solid #fbbc06;
                    padding: 0.5625rem 0.8125rem; }
                    .user .assets .card__wrapper input.is-extend:checked ~ .card:before {
                        border-top: 1.5625rem solid #fbbc06; }
                    .user .assets .card__wrapper input.is-extend:checked ~ .card:after {
                        content: '\e82F'; }
                .user .assets .card__wrapper input.is-assign:checked ~ .card {
                    border: 2px solid #23af47;
                    padding: 0.5625rem 0.8125rem; }
                    .user .assets .card__wrapper input.is-assign:checked ~ .card:before {
                        border-top: 1.5625rem solid #23af47; }
                    .user .assets .card__wrapper input.is-assign:checked ~ .card:after {
                        content: '\e819'; }
        .user .assets .card:hover {
            background-color: #2b2d43; }
        .user .assets .card:before {
            content: '';
            position: absolute;
            border-right: 1.875rem solid transparent;
            border-top: 1.875rem solid transparent;
            top: 0;
            left: 0; }
        .user .assets .card:after {
            font-family: 'locus-font';
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 0.125rem;
            margin-top: -1px;
            color: #27293d;
            font-size: 1rem; }
        .user .assets .card__properties {
            margin-right: 1rem; }
            .user .assets .card__properties i {
                margin: 0rem -0.2rem; }
        .user .assets .card__values {
            color: #6c707c; }
            .user .assets .card__values--overdue {
                color: #ff4747; }
            .user .assets .card__values--due {
                color: #fbbc06; }
            .user .assets .card__values--active {
                color: #23af47; }
            .user .assets .card__values--long_term {
                color: #4b83ff; }
        .user .assets .card__body-A {
            flex-grow: 1;
            margin-left: 0.5rem;
            margin-right: 1rem; }
        .user .assets .card__model {
            font-size: 1rem;
            font-weight: 700;
            font-variant: small-caps; }
        .user .assets .card__collection {
            font-size: 0.8rem; }
        .user .assets .card__body-B {
            display: flex;
            align-items: center;
            text-align: right; }
            .user .assets .card__body-B--margin {
                margin: 0.46875rem 0rem; }
        .user .assets .card__tag {
            color: #6c707c;
            font-size: 0.875rem;
            margin-left: 0.1rem; }
        .user .assets .card__icon {
            font-size: 1.75rem; }

.user {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .user .content {
        display: flex;
        flex-grow: 1;
        margin-bottom: 1.3125rem; }
        .user .content > div:not(:last-child) {
            margin-right: 1.3125rem; }
    .user .form {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex: 1 0 0;
        padding: 1.5rem 2rem;
        font-size: 0.875rem;
        color: #868a95;
        background-color: #27293d;
        border: 1px solid #313452; }
        .user .form__row {
            display: flex;
            flex-direction: column; }
            .user .form__row--grow {
                flex-grow: 1; }
            .user .form__row:not(:last-child) {
                margin-bottom: 1.5rem; }
        .user .form__icon {
            margin-right: 0.3rem;
            font-size: 1rem; }
        .user .form__input {
            margin-top: 0.375rem;
            padding: 0.875rem;
            color: #868a95;
            background-color: #1e1e2f;
            border: 1px solid #313452;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            outline: none; }
            .user .form__input:focus {
                background-color: #1a1a29; }
            .user .form__input--error {
                border: 1px solid #ff4747; }
            .user .form__input--select {
                flex: 1 0 0;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none; }
            .user .form__input-wrapper {
                display: flex;
                position: relative;
                font-size: 0.8rem; }
                .user .form__input-wrapper:after {
                    position: absolute;
                    top: 1.5rem;
                    right: 1.25rem;
                    font-family: 'locus-font';
                    content: '\e859';
                    pointer-events: none; }
            .user .form__input--comment {
                resize: none;
                flex-grow: 1;
                font-family: Roboto;
                font-size: 0.8rem; }
        .user .form__validation {
            padding-top: 0.5rem;
            font-size: 0.8rem;
            color: #ff4747; }
    .user .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center; }
        .user .footer .help {
            font-size: 1rem; }
